<template name="login">
    <form is="iron-form" method="get" action="/" id="submitOptions">
        <paper-input name="name" label="Name" value="Batman" required></paper-input>
        <paper-input name="password" label="Senha" type="password" required></paper-input>
        <button type="submit"><paper-button raised>Entrar</paper-button></button>
    </form>
</template>
